.form-create-diseases {
  background-color: #25dd8e;
  border: 1px solid #414445;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1000px;
  margin: 5% auto;
  padding: 1em;
  h2 {
    text-align: center;
    padding: 0.3em;
    color: #2a2c3a;
  }
  .form--box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    label {
      width: 50%;
      padding: 0.4em;
      color: #2a2c3a;
      input {
        display: flex;
        width: 100%;
        height: 20px;
        padding: 0.2em;
      }
    }
  }
  button {
    margin-top: 2em;
    width: fit-content;
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #2a2c3a;
    padding-bottom: 0.5em;

    cursor: pointer;

    &:hover {
      transition: all 0.3s;
      border-radius: 12px;
      padding: 0.4em;
    }
  }
}
