.first-box-specialist {
  background-color: #455d7a;
  border: 1px solid #233142;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;

  .specialist-box {
    display: flex;
    align-items: center;
  }
}

h1 {
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
}
.surname {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}
