.first-box-specialist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #e3e3e3;
 

  .loading-pic {
    height: 10vh;
    width: 20vw;
  }
  

  .specialist-box {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18em;
    width: 50em;
    background: rgba(27, 33, 62, 0.242);
    box-shadow: 15px 15px 20px rgba(32, 27, 62, 0.196);
    border-radius: 2em;
    margin: 3.5em;
    padding: 3em;
   
    .imgdivdetails{

      width: 300px;
      height: 300px;
      padding: 0%;
      padding-bottom: 0;
      

      .imgSpecialist {
     
    
     object-fit: cover;
     object-position: center center;
        width: 100%;
        border-radius: 2em;
        background-image: linear-gradient(60deg, #2aaa8a, #4169e1);
        padding: 5px;
       
      }
    }
   
    
  

    .specialist-admin-buttons {
      display: flex;

      // .papelera {
      //   width: 3.5vw;
      // }
    }
  }
}

h1 {
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
}
.surname {
  font-weight: 800;
  font-size: 1.5em;
  text-transform: uppercase;
}
