.first-box-specialist {
  background-color: #455d7a;
  border: 1px solid #233142;
  color: #e3e3e3;
}

h1 {
  font-weight: 800;
  font-size: 50px;
  text-transform: uppercase;
}
.surname {
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}
