.specialists-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #e3e3e3;

  .search-specialist {
    .input-text{
      color: #233142;
    }
    width: 100%;
    height: 40px;
    padding: 0.2em;
  }
  .specialist-box-eachCard {
    color: white;
    img {
      width: 20em;
      border-radius: 5px;
    }
    text-transform: uppercase;
    height: 20em;
    width: 23em;
    background-color: #455d7a;
    border: 2px solid #233142;
    margin: 1em;
    border-radius: 5px;
  }

  .button-specialist {
    a {
      text-decoration: none;
      color: black;
      height: 60px;
      width: 100px;
      color: white;
    }
  }
}
