.diseases-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  // background-color: red;

  .diseases-box-eachCard {
    height: 90em;
    width: 23em;
    margin-bottom: 1em;
    background-color: blue;
    // padding: 1em;
  }
}
