.footer-box {
  display: flex;
  flex-direction: column;
  background-color: #1d2233;
  color: white;
  height: 30em;
  justify-content: space-around;
}

button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
