.footer-box {
  display: flex;
  flex-direction: column;
  background-color: #1d2233;
  color: white;
  height: 40em;
  justify-content: space-around;

  .footer-box-title {
    color: white;
  }

  .footer-box-content {
    padding-top: 1em;
    color: rgb(143, 143, 143);
  }
}

button {
  background-color: transparent;
  border-color: transparent;
  color: white;
}
