@import "./Reset.scss";


.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  
    main {
      width: 100%;
      min-height: 60vh;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }
  