.center-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .search-center {
    width: 100%;
    height: 40px;
    padding: 0.2em;
  }
  .center-box-eachCard {
    img {
      width: 20em;
      border-radius: 5px;
    }
    text-transform: uppercase;
    height: 20em;
    width: 23em;
    background-color: #455d7a;
    border: 1px solid #233142;
    color: white;
    margin: 1em;
    border-radius: 5px;
  }

  .button-center {
    a {
      text-decoration: none;
      color: black;
      height: 60px;
      width: 100px;
      color: white;
    }
  }
}
