.center-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;

  .search-center {
    width: 100%;
    height: 40px;
    padding: 0.2em;
  }
  .center-box-eachCard {
    // text-transform: uppercase;
    font-size: 17px;
    height: 20em;
    position: relative;
    background-color: rgba(27, 33, 62, 0.242);
    box-shadow: 15px 15px 20px rgba(32, 27, 62, 0.196);
    color: white;
    margin: 1em;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 20px;
    }

    .imgCentersCard {
      width: 20%;
      height: 100%;
      object-fit: cover;
      object-position: unset;
      border-radius: 25px;
    }
  }

  .button-center {
    padding-top: 2em;
    a {
      text-decoration: none;
      color: black;
      height: 60px;
      width: 100px;
      color: white;
    }
  }
}
